@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "SourceSerifPro-Light"
  src: local("SourceSerifPro-Light"), url("../lib/Source_Serif_Pro/SourceSerifPro-Light.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "Monotone"
  src: local("Monoton"), url("../lib/Monoton/Monoton-Regular.ttf") format("truetype")
  